<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BuildConfiguration" value="Release"/>
  </appSettings>
  <connectionStrings>
    <add name="ApplicationDatabase" connectionString="Server=.;Initial Catalog=SqlDatabaseCiCdUnitTesting;Integrated Security=True;" providerName="System.Data.SqlClient"/>
    <add name="MasterDatabase" connectionString="Server=.;Initial Catalog=Master;Integrated Security=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>